table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    padding: 3px;
    border: 1px solid #dddddd;
}
tr {
    width: 100%;
    white-space: nowrap;
}

code {
    color: #000000;
    font-size: 18px;
    background-color: #669900;
    padding: 10px;
}
